body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #2b3e50;
}
.container {

}
canvas {
	width:100%;
	height: auto;
	background-color: white;
	padding-bottom:0;
}

.panel {

}

#color {

}


#chatbox {
	height:90%;
	overflow-y:scroll;
}

#chatForm {
	height:10%;
}
.panel-primary {
	height:100%;
}
.panel-heading {
	margin-bottom:5px;
}
.panel-body {
	height:90%;
	margin-bottom:0;
}

.col-md-3 {
	height: 700px;

}
.col-md-6 {
	padding: 0px 1px 0px 1px;


}

#turnoverlay {
	display:none;
	position: absolute;
	text-align: center;
	padding:10px;
	width:400px;
	height:300px;
	background-color: #78909C;
     box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
	font-size:2em;
	top:50px;
	left:50%;
	margin-left:-200px;
	z-index: 2;
	color:#fff;
}

#words {
	font-size:18px;
	
}
#words li {
	list-style-type: none;
	margin:20px;
}
#words li:hover {
	cursor:pointer;
}
#hintoverlay {
	position: absolute;
	text-align: center;
	padding:2px;
	height:50px;
	width:200px;
	background-color: #78909C;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
	font-size:1em;
	top:10px;
	left:50%;
	margin-left:-100px;
	z-index: 2;
	color:#fff;
}
#hintwords {
	letter-spacing:3px;
	padding-top:5px;
}